<h1 class="main_title">Editing article #<%= @article.id %></h1>

<div class="w-full my-5 shadow py-5 px-2 rounded-lg">
  <%= render "form", article: @article %>
</div>

<br>

<div>
  <%= link_to "Show this article", [:admin, @article] %> |
  <%= link_to "Back to articles", admin_articles_path %>
</div>
