<h1 class="main_title">Articles List</h1>

<div class="flex my-5">
  <%= link_to "New article", new_admin_article_path, class: "btn-primary" %>
</div>

<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <th scope="col" class="py-3 px-6">
          ID
      </th>
      <th scope="col" class="py-3 px-6">
          Title
      </th>
      <th scope="col" class="py-3 px-6">
          Status
      </th>
      <th scope="col" class="py-3 px-6">
          Spotlight
      </th>
      <th scope="col" class="py-3 px-6">
          Action
      </th>
    </thead>
    <tbody>
      <%= render partial: 'article', collection: @articles, as: :article %>
    </tbody>
  </table>

  <div class="flex items-center justify-center my-5">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
