
<div class="row">
  <%= render 'spotlight_article', article: @spotlight %>

  <div class="container py-5 px-0">
    <div class="row mx-0">
      <%= render partial: 'article', collection: @articles, as: :article %>
    </div>
  </div>
</div>
