<div class="container">
  <div class="block pt-0 mt-3 mx-0 px-0">
    <%= render 'spotlight_article', article: @spotlight %>
  </div>

  <div class="md:grid md:grid-cols-2 md:gap-4">
    <%= render partial: 'article', collection: @articles, as: :article %>
  </div>
</div>
